<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header"><a href="mailto:willy.song@mail.utoronto.ca">willy.song@mail.utoronto.ca</a></p>
        <ul>
          <li><a class="buttons home" href="./">Home</a></li>
          <li><a class="buttons sd" href="CSCA48">CSCA48</a></li>
          <li><a class="buttons droid" href="CSCB58">CSCB58</a></li>
          <li><a class="buttons github" href="https://github.com/WillySong">GitHub</a></li>
          <li><a class="buttons" href="https://www.linkedin.com/in/willysong/">LinkedIn</a></li>
          <li><a class="buttons" href="https://drive.google.com/file/d/1aL1S7GyXCvkTS1fsCi4QfKpAoBHI_oF3/view?usp=sharing">Resume</a></li>
          <li><a class="buttons" href="https://www.youtube.com/channel/UCOQiIzzeA1Yc8UNGYxAfahQ">YouTube</a></li>
        </ul>
      </header>

      <section>
        {{ content }}
        <p>Adapted from the <a href="https://github.com/pages-themes/dinky">Dinky theme</a> on Github Pages</p>
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
